*.olean
/_target
/leanpkg.path
/_old
_doc/lean_ini.pdf
_doc/lean_reference.pdf
_doc/lean_reference(1).pdf
_doc/logic_and_proof.pdf
_doc/mathlib-coercions.svg
_doc/mathlib-paper.pdf
_doc/theorem_proving_in_lean.pdf
